flows (1).json
[{"id":"52542bf6.6bee64","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a1967de1.8dae7","type":"ui_form","z":"52542bf6.6bee64","name":"","label":"","group":"59567233.eb490c","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["bb9fd45e.e87908"]]},{"id":"bb9fd45e.e87908","type":"function","z":"52542bf6.6bee64","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":200,"wires":[["1081ac6a.c80cc4","2ddc0b51.d2ca44"]]},{"id":"3ec3ce88.c12da2","type":"function","z":"52542bf6.6bee64","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":240,"wires":[["143ee31.e635f1d"]]},{"id":"2ddc0b51.d2ca44","type":"watson-conversation-v1","z":"52542bf6.6bee64","name":"","workspaceid":"ea0c2669-affd-4626-ad5b-a5b2ab3e8031","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0ebe899c-3294-480b-a06b-8ebf81cea5bc","timeout":"","optout-learning":false,"x":520,"y":160,"wires":[["9b1f236.52cace","3ec3ce88.c12da2"]]},{"id":"9b1f236.52cace","type":"debug","z":"52542bf6.6bee64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"1081ac6a.c80cc4","type":"ui_text","z":"52542bf6.6bee64","group":"59567233.eb490c","order":1,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":410,"y":260,"wires":[]},{"id":"143ee31.e635f1d","type":"ui_text","z":"52542bf6.6bee64","group":"59567233.eb490c","order":2,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":360,"wires":[]},{"id":"59567233.eb490c","type":"ui_group","z":"","name":"NAME","tab":"103057b0.3122b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"103057b0.3122b8","type":"ui_tab","z":"","name":"TABNAME","icon":"dashboard","disabled":false,"hidden":false}]